.Alphax {
    text-align:start;
    padding-left:10%;
    padding-right:10%;
    font-family:telugu;
    font-display: swap;
    background-color:black;
    color:white;
    word-spacing : 3px;
    margin-top: 1%;
    margin-bottom: 3%;

  }

  .heading {
    background-color: yellow;
    display: inline-block;
    color: blue;
    padding: 10px;
    margin: 20px;
  }

  html {
    background-color: black;
  }

  .wbg {
    /* background-color: aliceblue; */
    background-color: white;
    color: black
  }